:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1,
#nama {
  font-size: 3.2em;
  line-height: 1.1;
  border: none;
  padding: 0;
  margin: 1.5rem auto;
  background-color: transparent;
}

.container {
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  display: grid;
}

#nama {
  width: 18rem;
  text-align: center;
  border: none;
}

#task {
  max-width: max-content;
  margin: 1.15rem auto;
  padding: 10px 2px;
  border-radius: 10px;
}

.submit {
  background-color: #646cff;
  transition: 0.5s ease-in;
}

.submit:hover {
  transform: scale(1.08);
  background-color: #4148cc;
}

.tasked {
  background-color: #f9f9f9;
  border-radius: 16px;
  color: #1a1a1a;
  padding: 5px 10px;
  display: flex;
  margin-bottom: 20px;
  flex: 50%;
  align-items: center;
  height: 7vh;
}

.tasked:last-child{
  margin-bottom: 0;
}

.kategori {
  display: flex;
  gap: 3;
}

.kategori_input {
  width: 10em;
  height: 10em;
  background-color: antiquewhite;
  color: #1a1a1a;
  margin: 5px auto;
  display: grid;
  align-content: center;
  border-radius: 30px;
}

.kategori_input input {
  width: 30px;
  height: 30px;
  margin: auto ;
  font-size: large;
}

.chek{
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.td>label{
  font-weight: 600;
}

#bisnis:checked, .Bussiness:checked {
  accent-color: rgb(78, 249, 197);
}

#pribadi:checked, .Personal:checked {
  accent-color: rgb(255, 71, 135);
}

.completed{
  text-decoration: line-through;
  color: rgb(83, 97, 84);
}

.td {
  display: flex;
  flex-basis: 80%;
  text-align: left;
  padding-left: 1.3rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px 5px 25px;
  text-align: center;
}

table{
  background-color: #f9f9f920;
  border-radius: 30px;
  margin-top: 20px;
  height: auto;
  padding: 1.5rem;
  min-height: 100px;
  max-height: 25vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
table::-webkit-scrollbar{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
  input{
    color: #1a1a1a;
  }

  button {
    background-color: #f9f9f9;
  }
}